@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Prevent Tailwind from being stripped out */
* {
  all: unset;
  all: revert;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
